.text-gradient {
  background-image: linear-gradient(to right, #388bff, #ff64cb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card {
  border: 1px solid rgb(255 255 255 / 10%);
  position: relative;
  @apply bg-gray-700 bg-opacity-30 backdrop-blur-[10px] backdrop-filter;

  &::after {
    content: "";
    height: 70px;
    width: 2px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    @apply bg-gradient-to-b from-transparent from-10% via-blue-500 via-30% to-transparent to-100%;
    opacity: 0;
  }

  &:hover:after {
    top: 25%;
    opacity: 1;
  }
}

.header-count {
  position: relative;

  &::after {
    content: attr(data-count);
    position: absolute;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4em;
    left: 50%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    @apply bg-pink-500;
  }
}

.nav {
  position: sticky;

  &::after {
    content: "";
    height: 2px;
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    @apply bg-gradient-to-r from-transparent from-10% via-blue-500 via-30% to-transparent to-100%;
  }
}
